mixin icon(name, options)
    - options = options || {};
    svg(
        class = options.cls || 'svg-icon'
        width = options.w || null
        height = options.h || null
    )
        use(xlink:href="#" + name)
mixin img(className, name, ext, alt)
  img(class=`${className}` srcset=`/img/${name}.${ext}, /img/${name}@2x.${ext} 1.5x, /img/${name}@2x.${ext} 2x`, src=`/img/${name}.${ext}`, alt=`${alt}`)

//- +webp('path/name', 'class', 'alt')

mixin webp(path,cls,alt)
    picture(class!=cls)
        source(type="image/webp" srcset=`/img/${path}.webp`)
        source(type="image/jpeg" srcset=`/img/${path}.jpg`)
        img(src=`/img/${path}.jpg`, alt!=alt)